@import "tailwindcss";

@theme {
  --font-display: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-electric: #00FF00; /* Neon Green */
  --color-deep: #050505;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .translate-z-10 {
    transform: translateZ(10px);
  }
  .translate-z-20 {
    transform: translateZ(20px);
  }
}
